<app-header></app-header>
<div class="container">

  <div class="col-lg-4 mt-3 col-md-8 mb-5 mb-lg-0 mx-auto">
    <a [routerLink]="['/admin/gestion-users']" class="after-loop-item card border-0 card-templates shadow-lg">
      <div class="card-body d-flex flex-column text-left">
        <h4>Gestion Utilisateur</h4>
        <p class="w-75">Unstyled layouts to help you get started!</p>
      </div>
    </a>
  </div>
  <div class="col-lg-4 mt-3 col-md-8 mb-5 mb-lg-0 mx-auto">
    <a [routerLink]="['/admin/gestion-categories']" class="after-loop-item card border-0 card-snippets shadow-lg">
      <div class="card-body d-flex flex-column text-left">
        <h4>Gestion Categories</h4>
        <p class="w-75">Code snippets ready to copy and paste!</p>
      </div>
    </a>
  </div>
  <div class="col-lg-4 mt-3 mb-5 col-md-8 mx-auto">
    <a [routerLink]="['/admin/gestion-products']" href="/guides/" class="after-loop-item card border-0 card-guides shadow-lg">
      <div class="card-body d-flex flex-column text-left">
        <h4>Gestion Produits</h4>
        <p class="w-75">Guides and tutorials to help you learn Bootstrap!</p>
      </div>
    </a>
  </div>

</div>
<app-footer></app-footer>
